/* ÁREA DE BUSCA DA PÁGINA */
main{
    width:100%;

    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

main #google{
    margin-top:90px;
    width:300px;
}

main .search-bar{
    width: 90%;
    max-width: 580px;
    height: 44px;

    border-radius: 22px;
    border: 1px solid #e0e0e0;
    margin-top:60px;

    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
}

main .search-bar input{
    width:80%;
    height: 30px;

    font-size:16px;
    outline:none;
    border:none;
}

main .search-bar input::-webkit-search-cancel-button{

}

main .search-bar #lupa{
    width: 20px;
}

main .search-bar #voz{
    width:24px;
}

main .search-bar:hover{
    position:relative;
    box-shadow: 0px 0px 8px 0px #9FB0B5;
}

main #recents img{
    width:30px;
}
