*{
    font-family: 'Roboto', 'Segou UI';
}

div#modalctn{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content:center;
}

div#modalctn-modal{
    background-color: var(--black);
    width: 800px;
    border-radius: 10px;
}

div#modalctn-modal h5{
    margin: 30px auto 20px 30%;
    font: normal 15px 'Roboto'  ;
    color:var(--gray);

}

div#modalctn-modal-main{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


nav#modalctn-modal-main-menu{
    width: 25%;
    font-family: 'Roboto';
    font-size: 14px;
    color: var(--gray);

}

nav#modalctn-modal-main-menu ul{
    list-style-type: none;
    height: 140px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

nav#modalctn-modal-main-menu ul li{
    background-color: blue;
    height: 32px;
    display: flex;
    align-items: center;
    border-radius: 0 16px 16px 0;
}

section#modalctn-modal-main-shorts{
    width: 70%;
    display: flex;
    flex-direction: column; 
}

p.options-title{
    color:var(--gray);
}
p.options-desc{
    color:var(--gray-modal);
}

div#hide-shorts{
    border: 1px solid var(--gray-modal); 
    border-radius: 4px;

    display: flex;
    align-items: center;
}

div#hide-shorts img{
    width:20px;
}

div#hide-shorts-desc{
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}



div#hide-shorts-button{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

div#button-bcg{
    width: 28px;
    height: 12px;
    background-color: var(--gray-modal);
    border-radius: 6px;
}

div#button-circle{
    width:16px;
    height:16px;
    border-radius: 50%;
    background-color: var(--gray);
    position: absolute;
    left:0;
}


