*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --black: #343438;
    --white: #fff;
    --gray: #eee;
    --gray-hover: #eeeeee15;
}

html, body{
    width: 100%;
    background-color: var(--black);
}

header{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
}

section.header{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

section.header a.header-link{
    color: var(--gray);
    font-size: 10pt;
    text-decoration: none;
}

section.header a.header-link:hover{
    text-decoration: underline;
}

section.header div.header-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7.5px;
    border-radius: 50%;
}

section.header div.header-picture{
    padding: 5px;
    display:flex;
    align-items:center;
    justify-content: center;
    border-radius: 50%;
}

section.header div.header-picture:hover, section.header div.header-button:hover{
    background-color: var(--gray-hover);
}

section.header div.header-picture img{
    border-radius: 50%;
}

main section#container div#container-searchbar{
    background-color: var(--white);
}

